# CASE STUDY ON TESTING OF HYPOTHESIS

In [26]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

import warnings 
warnings.filterwarnings("ignore")

In [7]:
data=pd.read_csv('Sales_add.csv')

In [8]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [10]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1.THE COMPANY WISHES TO CLARIFY WHETHER THERE IS ANY INCREASE IN SALES AFTER STEPPING INTO DIGITAL MARKETING

# Hypothesis

(Null hypothesis)  H0:μ1=μ2  (There is no difference in sales,before and after digital marketing)

(Alternative hypothesis)  H1:μ1<μ2  (There is an increase in sales after digital marketing))

In [11]:
ttest,pval = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print(pval)

6.336667004575778e-11

# INFERENCE

Since the p value of our test 6.336667004575778e-11 is less than alpha=0.05.So we can reject our null hypothesis.Thus we can conclude that tere is an increase in sales after digital marketing

# 2.The company needs to check whether there is any dependency between the features "Region" and "Manager"

# Hypothesis

Null hypothesis:H0:Region and Manager features are independent

Alternative hypotheis:H1:Region and Manager features are dependent

In [14]:
data.groupby(['Region','Manager']).count()

                        Month  Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A      4                               4
           Manager - B      3                               3
           Manager - C      3                               3
Region - B Manager - A      4                               4
           Manager - B      1                               1
           Manager - C      2                               2
Region - C Manager - A      1                               1
           Manager - B      3                               3
           Manager - C      1                               1

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                              4
           Manager - B                              3
           Manager - C                              3
Region - B Manager - A                              4
           Manager - B                              1
           Manager - C                              2
Region - C Manager - A                              1
           Manager - B                              3
           Manager - C                              1

In [27]:
data.groupby(['Region','Manager'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean().round(2)

                        Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A                       148628.50
           Manager - B                       155617.00
           Manager - C                       140228.00
Region - B Manager - A                       142725.00
           Manager - B                       152167.00
           Manager - C                       165299.00
Region - C Manager - A                       147463.00
           Manager - B                       156492.33
           Manager - C                       130625.00

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                      257609.25
           Manager - B                      218944.00
           Manager - C                      233754.00
Region - B Manager - A                      234962.75
           Manager - B                      231808.00
           Manager - C                      214718.00
Region - C Manager - A                      229336.00
           Manager - B                      214551.33
           Manager - C                      222106.00

In [28]:
data1=data.groupby('Region')['Manager'].value_counts().unstack()
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [29]:
chivalue, pvalue, dof, expvalues = stats.chi2_contingency(data1)

In [30]:
print('Chi sqaure Test Statistic:',chivalue)
print('Pvalue of test data;',pvalue)
print('Degrees of Freedom:',dof)
print('Expected observations of data:',expvalues)

Chi sqaure Test Statistic: 3.050566893424036
Pvalue of test data; 0.5493991051158094
Degrees of Freedom: 4
Expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [31]:
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [32]:
if(chivalue>chicriteria and pvalue<0.05):
    print('(Null Hypothesis) Reject H0: Region and Manager features are independent')
else:
    print('(Alternate Hypothesis) Reject H1: Region and Manager features are dependent')

(Alternate Hypothesis) Reject H1: Region and Manager features are dependent

# INFERENCE

Here,We reject H1 so,we accept H0,that is Region and Manager features are independent